RewriteEngine On

# redirect to https
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !=localhost
RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [NE,L,R=301]

# trim trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} /(.*)/$
RewriteRule ^ /%1 [R=301,L]

# file exists
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

# static resources
RewriteCond %{REQUEST_FILENAME} \/(images|javascripts|repository|stylesheets|tinymce)
RewriteRule ^.*$ - [NC,L]

# default router
RewriteRule ^.*$ index.php [NC,L]