<?php
/** @var \Main\View\Base $this */
?>
<h2>
    <small id="sidebarCollapse" class="float-right flaticon flaticon-view-details small"></small>
    <?= $this->linkTo(\E4u\Loader::getEnvironment(), '/') ?>
</h2>

<ul class="list-unstyled components">
    <li>
        <?= $this->linkTo('Sprzedaż detaliczna', '/sales') ?>
        <ul>
            <li><?= $this->linkTo('Utwórz nową transakcję', '/sales/retail') ?></li>
            <li><?= $this->linkTo('Aktualne transakcje', '/sales/retail/list') ?></li>
            <li><?= $this->linkTo('Raport dobowy', '/sales/retail/daily-report') ?></li>
        </ul>
    </li>
    <li>
        <?= $this->linkTo('Zamówienia', '/sales/orders') ?>
        <ul>
            <li><?= $this->linkTo('Szukaj zamówień', '/sales/orders/index') ?></li>
            <li><?= $this->linkTo('Do realizacji', '/sales/orders/ready') ?></li>
        </ul>
    </li>
    <li>
        <?= $this->linkTo('Produkty', '/sales/stock') ?>
        <ul>
            <li><?= $this->linkTo('Wszystkie produkty', '/sales/stock/index') ?></li>
            <li><?= $this->linkTo('Zalegające', '/sales/stock/unwanted') ?></li>
        </ul>
    </li>
    <li>
        <?= $this->linkTo('Konfiguracja', '/sales/config') ?>
    </li>
    <li>
        <?= $this->linkTo('Wyloguj się', '/security/logout') ?>
    </li>
</ul>